<div class="section">

  <div class="form-container">

  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", class: "login-form-text-field" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力", class: "login-form-text-field" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "bg-coral login-btn" %>
    </div>
  <% end %>
  <div class="actions">
  <%= link_to "新しいアカウントを作成", :new_user_registration, class: "sign-up-btn no-underline" %>
</div>
  </div>
</div>
