<% if user_signed_in? %>
    
  <div class="dropdown">
    

  <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.name %>
  </div>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li class="dropdown-item">
      <%= link_to '施設の新規登録', :new_room, class: "dropdown-item" %>
    </li>
    <div class="dropdown-divider"></div>
    <li class="dropdown-item">
      <%= link_to '予約済み一覧', "#", class: "dropdown-item" %>
    </li>
    <li class="dropdown-item">
      <%= link_to '登録済み一覧', :rooms, class: "dropdown-item" %>
    </li>
    <li class="dropdown-item">
      <%= link_to 'アカウント設定', :users_account, class: "dropdown-item" %>
    </li>
    
    <li class="dropdown-item">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </li>
  </ul>
<% else %>
  <%= link_to 'ログイン', :new_user_session %>
  <%= link_to '新規登録', :new_user_registration %>
<% end %>
