<% if user_signed_in? %>
  <div>
    <%= current_user.name %>
  </div>
  <ul>
    <li>
      <%= link_to '施設の新規登録', "#" %>
    </li>
    <li>
      <%= link_to '予約済み一覧', "#" %>
    </li>
    <li>
      <%= link_to '登録済み一覧', "#" %>
    </li>
    <li>
      <%= link_to 'アカウント設定', "#" %>
    </li>
    <li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
<% else %>
  <%= link_to 'ログイン', :new_user_session %>
  <%= link_to '新規登録', :new_user_registration %>
<% end %>
