<div class="search_rooms_form_container">
  <div class="search_rooms_form">
    <%= search_form_for @q, url: search_rooms_path do |f| %>
      <%= f.label :address_cont, "エリア" %>
      <%= f.text_field :address_cont, placeholder: "エリア名を入力", class: "search_rooms_form_input" %>
      <%= f.label :room_name_or_room_info_cont, "キーワード" %>
      <%= f.text_field :room_name_or_room_info_cont, placeholder: "キーワード名を入力", class: "search_rooms_form_input" %>
      <%= f.submit "検索", class: "search_rooms_form_btn" %>
    <% end %>
  </div>
</div>
