<h1>予約内容の確認</h1>

<table>
  <tr>
    <th>チェックイン</th>
    <td><%= @reservation.check_in %></td>
  </tr>
  <tr>
    <th>チェックアウト</th>
    <td><%= @reservation.check_out %></td>
  </tr>
  <tr>
    <th>日数</th>
    <td><%= @total_days %></td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @reservation.number_of_guests %></td>
  </tr>
  <tr>
    <th>お支払い金額</th>
    <td><%= @total_price %></td>
  </tr>
</table>

<%= form_with(model: @reservation, local: true) do |f| %>
  <%= f.hidden_field :check_in %>
  <%= f.hidden_field :check_out %>
  <%= f.hidden_field :number_of_guests %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :room_id, value: @reservation.room_id %>
  <%= f.submit "予約を確定" %>
<% end %>

<%= link_to "キャンセル", room_path(@reservation.room_id) %>
