<div class="section">
<h1>予約内容の確認</h1>
  <div class="form-container">
    <table>
      <tr>
        <th>チェックイン日</th>
        <td><%= @reservation.check_in.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>チェックアウト日</th>
        <td><%= @reservation.check_out.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>日数</th>
        <td><%= @total_days %></td>
      </tr>
      <tr>
        <th>人数</th>
        <td><%= @reservation.number_of_guests %></td>
      </tr>
      <tr>
        <th>お支払い金額</th>
        <td><%= @total_price %></td>
      </tr>
    </table>
    <p class="description_before_reservation">上記内容で正しければ「確定」ボタンを押してください。</p>
    <%= form_with(model: @reservation, local: true) do |f| %>
      <%= f.hidden_field :check_in %>
      <%= f.hidden_field :check_out %>
      <%= f.hidden_field :number_of_guests %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @reservation.room_id %>
      <%= f.submit "予約を確定", class: "confirmation_btn bg-coral" %>
    <% end %>
    <div class="cancel-reservation-btn-wrap">
      <%= link_to "キャンセル", room_path(@reservation.room_id), class: "cancel-reservation-btn" %>
    </div>
  </div>
</div>
