<h1>予約済み一覧</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<table>
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計料金</th>
      <th>チェックイン日</th>
      <th>チェックアウト日</th>
      <th>予約確定日時</th>
      <th>予約者（User_id）</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= image_tag reservation.room.room_image.url, size: '160x90' %></td>
        <td><%= link_to reservation.room.room_name, room_path(reservation.room_id) %></td>
        <td><%= reservation.room.room_info %></td>
        <td><%= reservation.number_of_guests * (reservation.check_out - reservation.check_in).to_i * reservation.room.fee %></td>
        <td><%= reservation.check_in.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.check_out.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= reservation.user_id %></td>
      <tr>
    <% end %>
  </tbody>
</table>
