<div class="section">  
  <h1>登録済み一覧</h1>

  <table>
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= image_tag room.room_image.url, size: '160x90' %></td>
          <td><%= link_to room.room_name, room_path(room), class: "no-underline" %></td>
          <td><%= room.room_info %></td>
          <td><%= "¥" + room.fee.to_s + "~/ 日" %></td>
          <td><%= room.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
