<h1>新規登録</h1>

<%= render "shared/error", obj: @room %>

<%= form_with model: @room, local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :room_name, "施設名" %></th>
      <td><%= f.text_field :room_name, placeholder: "ルーム名を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :room_info, "施設詳細" %></th>
      <td><%= f.text_area :room_info, placeholder: "施設詳細を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :fee, "料金" %></th>
      <td><%= f.number_field :fee, placeholder: "一日あたりの料金を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_field :address, placeholder: "住所を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :room_image, "施設画像" %></th>
      <td><%= f.file_field :room_image %></td>
    </tr>
  </table>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div>
    <ul>
      <li><%= f.submit "保存", class: "btn btn-danger" %></li>
    </ul>
  </div>
  <%= link_to "キャンセル", :back, class: "btn btn-light" %>
<% end %>
