<%= render "shared/search_form" %>
<div class="rooms_conatiner">
  <p class="search_room_results">
    <span class="total_room_results"><%= @results.count.to_s %><span>
    <%= "件が見つかりました。" %>
  </p>

  <table>
    <thead>
      <th>施設画像</th>
      <th>施設名</th>
      <th>住所</th>
      <th>施設詳細</th>
      <th>宿泊料金（/日）</th>
      <th></th>
    </thead>

    <% @results.each do |room| %>
      <tbody>
        <td><%= image_tag room.room_image.url, size: '200x100' %></td>
        <td><%= room.room_name %></td>
        <td><%= room.address %></td>
        <td><%= room.room_info %></td>
        <td><%= "¥" + room.fee.to_s + "~" %></td>
        <td><%= link_to "詳細はこちら", room_path(room), class: "room_details_link bg-coral no-underline white-font-color" %></td>
      </tbody>
    <% end %>
  </table>
</div>
