<h1>施設詳細</h1>

<%= render "shared/search_form" %>

<%= link_to "← 戻る", :back %>

<div>
  <div>
    <%= "施設画像 : " %>
  </div>
  <div>
    <div>
      <%= "施設名 : " %>
      <%= @room.room_name %>
    </div>
    <div>
      <%= "紹介文 : " %>
      <%= @room.room_info %>
    </div>
    <div>
      <%= "宿泊料金 : " %>
      <%= "¥" + @room.fee.to_s + "~/ 日" %>
    </div>
    <div>
      <%= "住所 : " %>
      <%= @room.address %>
    </div>
  </div>
</div>
