<h1>施設詳細</h1>

<%= render "shared/search_form" %>

<%= link_to "← 戻る", 'javascript:history.back()' %>

<div>
  <div>
    <%= "施設画像 : " %>
    <%= image_tag @room.room_image.url, size: '600x380' %>
  </div>
  <div>
    <div>
      <%= "施設名 : " %>
      <%= @room.room_name %>
    </div>
    <div>
      <%= "紹介文 : " %>
      <%= @room.room_info %>
    </div>
    <div>
      <%= "宿泊料金 : " %>
      <%= "¥" + @room.fee.to_s + "~/ 日" %>
    </div>
    <div>
      <%= "住所 : " %>
      <%= @room.address %>
    </div>
  </div>
</div>

<h3>施設「<%= @room.room_name %>」のご予約はこちらから</h3>

<%= render "shared/error", obj: @reservation %>

<%= form_with(model: @reservation, local: true, url: confirm_path) do |f| %>
  <table>
    <tr>
      <th><%= f.label :check_in, "チェックイン" %></th>
      <td><%= f.date_field :check_in %></td>
    </tr>
    <tr>
      <th><%= f.label :check_out, "チェックアウト" %></th>
      <td><%= f.date_field :check_out %></td>
    </tr>
    <tr>
      <th><%= f.label :number_of_guests, "人数" %></th>
      <td><%= f.number_field :number_of_guests %></td>
    </tr>
  </table>
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <div>
      <ul>
        <li><%= f.submit "予約する" %></li>
      </ul>
    </div>
  <% end %>
<% end %>
