<div class="section">
  <%= render "shared/user_setting" %>

  <%= render "shared/error", obj: current_user %>
  <div class="form-container">
    <h2><%= "アカウント" %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field user-account-form-group">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field user-account-form-group">
        <%= f.label :password, "変更後パスワード", class: "form-label" %><br><i>(※ 変更する場合のみ)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "text_field" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> 桁から有効です。</em>
        <% end %>
      </div>

      <div class="field user-account-form-group">
        <%= f.label :password_confirmation, class: "form-label" %><br><i>(※ 変更する場合のみ)</i><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text_field" %>
      </div>

      <div class="field user-account-form-group">
        <%= f.label :current_password, class: "form-label" %><br>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "text_field" %>
      </div>
      <div class="btn-container mt-4">
        <%= link_to "キャンセル", :users_account, class: "cancel-btn no-underline" %>
        <div class="actions">
          <%= f.submit "保存", class: "save-btn bg-coral" %>
        </div>
      </div>    
    <% end %>
  </div>
</div>
